@(data: Form[models.forms.Page6], yesno: Seq[(String, String)] = Nil, fitness: Seq[(String, String)] = Nil)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Registration", "registration") {

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Page 6 of 6</li>
    </ol>
  </nav>

  <div class="container-fluid">

    <form action="@routes.RegistrationController.postPage6()" method="POST">
      @CSRF.formField

      @if(data.hasErrors) {
        @_error("error.general")
      }

      <h3>Medical Information</h3>
    
      <p>Please fill out the information below regarding the participant's medical information:</p> 

      <fieldset>
        <legend>1. Regular Conditions</legend>
        @_textarea(data("medical.conditions.provider.details"))
      </fieldset>

      <fieldset>
        <legend>2. Other Conditions</legend>
        <p>@Messages("medical.conditions")</p>
        @_select(data("medical.conditions.epilepsy"), yesno)
        @_select(data("medical.conditions.highbloodpressure"), yesno)
        @_select(data("medical.conditions.heartdisease"), yesno)
        @_select(data("medical.conditions.lungdisease"), yesno)
        @_select(data("medical.conditions.orthopedic"), yesno)
      </fieldset>

      <fieldset>
        <legend>3. Regular Medications</legend>
        @_textarea(data("medical.medications.regular.details"))
      </fieldset>

      <fieldset>
        <legend>4. As-Needed Medications</legend>
        @_textarea(data("medical.medications.asneeded.details"))
      </fieldset>

      <fieldset>
        <legend>5. Alergies</legend>
        <p>@Messages("medical.alergies")</p>
        @_select(data("medical.alergies.medications"), yesno)
        @_select(data("medical.alergies.pollen"), yesno)
        @_select(data("medical.alergies.toxins"), yesno)
        @_select(data("medical.alergies.foods"), yesno)
        @_select(data("medical.alergies.orthopedic"), yesno)
      </fieldset>

      <fieldset>
        <legend>6. Hospitalization</legend>
        @_select(data("medical.hospitalization.5years"), yesno)
        @_textarea(data("medical.hospitalization.5years.details"))
      </fieldset>

      <fieldset>
        <legend>7. Emotional and Mental</legend>
        @_select(data("medical.mental.concerns"), yesno)
        @_textarea(data("medical.mental.concerns.details"))
      </fieldset>

      <fieldset>
        <legend>8. Fitness</legend>
        @_select(data("medical.fitness.level"), fitness)
      </fieldset>

      <fieldset>
        <legend>9. Other Concerns</legend>
        @_textarea(data("medical.other.concerns.details"))
      </fieldset>

      <fieldset>
        <legend>10. Consent</legend>
        @_select(data("medical.consent.legal.given"), yesno)
      </fieldset>

      <div class="form-group">
        <a class="btn btn-primary" href="@routes.RegistrationController.page5()" role="button">@Messages("previous")</a> 
        <button type="submit" class="btn btn-primary">@Messages("next")</button>
      </div>

    </form>
  </div>

}