@(data: Form[models.forms.Page3])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Registration", "registration") {

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Page 3 of 6</li>
    </ol>
  </nav>

  <div class="container-fluid">

    <form action="@routes.RegistrationController.postPage3()" method="POST">
      @CSRF.formField

      @if(data.hasErrors) {
        @_error("error.general")
      }

      <h3>Parent Information</h3>
     
      <p>Please enter the participating child's parent information:</p>
      <div class="alert alert-info" role="alert">
        Note: If there is only one parent then fill out both parent sections with the same information.
      </div>

      <fieldset>
        <legend>Mother</legend>

        @_text(data("mother.name.first"))
        @_text(data("mother.name.last"))
        @_text(data("mother.contact.phone"))
        @_text(data("mother.contact.email"))

      </fieldset>

      <fieldset>
        <legend>Father</legend>

        @_text(data("father.name.first"))
        @_text(data("father.name.last"))
        @_text(data("father.contact.phone"))
        @_text(data("father.contact.email"))

      </fieldset>

      <div class="form-group">
        <a class="btn btn-primary" href="@routes.RegistrationController.page2()" role="button">@Messages("previous")</a> 
        &nbsp;
        <button type="submit" class="btn btn-primary">@Messages("next")</button>
      </div>

    </form>
  </div>

}