@(data: Form[models.forms.Page3AdultMale])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Registration", "registration") {

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Page 3 of 6</li>
    </ol>
  </nav>

  <div class="container-fluid">

    <form action="@routes.RegistrationController.postPage3AM()" method="POST">
      @CSRF.formField

      @if(data.hasErrors) {
        @_error("error.general")
      }

      <h3>Contact Information</h3>
     
      <p>Please enter the participant's contact information:</p>

      <input type="hidden" name="father.name.first" value="na" />
      <input type="hidden" name="father.name.last" value="na" />
      @_text(data("father.contact.phone"))
      @_text(data("father.contact.email"))

      <div class="form-group">
        <a class="btn btn-primary" href="@routes.RegistrationController.page2()" role="button">@Messages("previous")</a> 
        &nbsp;
        <button type="submit" class="btn btn-primary">@Messages("next")</button>
      </div>

    </form>
  </div>

}