@(data: Form[models.forms.Page1], wards:Seq[(String, String)] = Nil, organizations:Seq[(String, String)] = Nil)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Registration", "registration") {

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Page 1 of 6</li>
    </ol>
  </nav>

  <div class="container-fluid">

    <form action="@routes.RegistrationController.postPage1()" method="POST">
      @CSRF.formField

      <h3>Ward Information</h3>
    
      <p>Please select the ward your child attends:</p>

      @_select(data("ward.id"), wards)
      @_select(data("organization.id"), organizations)

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Next</button>
      </div>

    </form>

  </div>

}