@(data: Form[models.forms.Registration], wards:Seq[(String, String)] = Nil)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Registration", "registration") {

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Page 1 of 6</li>
    </ol>
  </nav>

  <div class="container-fluid">

    <form action="@routes.RegistrationController.postPage1()" method="POST">
      @CSRF.formField

      <h3>Ward Information</h3>
    
      <p>Please selet the ward your child attends:</p>

      <div class="form-group">
        <label for="ward">Ward</label>
        <select id="ward" name="ward.id" class="form-control">
          <option class="blank" value="">[ Select an option ]</option>
          @for(o <- wards) {
          <option value="@{o._1}">@{o._2}</option>
          }
        </select>
      </div>

      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Organization</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="organization" id="organization.miamaids" value="Mia Maids">
              <label class="form-check-label" for="organization.miamaids">
                Mia Maids 
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="organization" id="organization.laurels" value="Laurels">
              <label class="form-check-label" for="organization.laurels">
                Laurels 
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="organization" id="organization.teachers" value="Teachers">
              <label class="form-check-label" for="organization.teachers">
                Teachers 
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="organization" id="organization.priests" value="Priests">
              <label class="form-check-label" for="organization.priests">
                Priests 
              </label>
            </div>

          </div>
        </div>
      </fieldset>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Next</button>
      </div>

    </form>

  </div>

}