@()(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Home", "home") {

  <div class="container-fluid">
    <br>
    <br>
    <div class="row">
      <div class="col text-center">
        <h1 class="display-4">Castle Rock Stake Trek 2019</h1>
        <h3>July 22-25, 2019</h3>
      </div>
    </div> 

    <br>
    <br>

    <div class="row">
      <div class="col text-center">

        <blockquote class="blockquote text-center">
          <p class="mb-0">That thou mayest walk in the way of good men, and keep the paths of the righteous.</p>
          <footer class="blockquote-footer">Proverbs <cite title="Proverbs 2:20">2:20</cite></footer>
        </blockquote>

      </div>
    </div>

    <br>

    <div class="row">
    
      <!-- 
      <div class="col-sm-4">
        <div class="card">
          <img src="@routes.Assets.versioned("images/trek2015/plains2.jpg")" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Registration is Open</h5>
            <p class="card-text">Click the button below to begin the registration process.</p>
            <div class="text-center">
              <a href="@routes.RegistrationController.index()" class="btn btn-primary">Register</a>
            </div>
          </div>
        </div>
      </div>
      -->

      <div class="col-sm-4">
        <div class="card">
          <img src="@routes.Assets.versioned("images/trek2015/river-cart.jpg")" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Follow us on Social Media</h5>
            <p class="card-text">Inspirational quotes, photos, and more. Click below to proceed to Instagram.</p>
            <div class="text-center">
              <a target="_blank" href="https://www.instagram.com/castlerockyouth/" class="btn btn-primary">Instagram</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img src="@routes.Assets.versioned("images/trek2015/plains1.jpg")" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Youth Packing List</h5>
            <p class="card-text">Below is a link to a preparation list that you might find helpful.</p>
            <div class="text-center">
              <a target="_blank" href="https://s3-us-west-2.amazonaws.com/castlerocktrek/CastleRockTrek-GetReadyYouth-PackingList.pdf" class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img src="@routes.Assets.versioned("images/trek2015/follow.jpg")" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Trek Clothing Letter</h5>
            <p class="card-text">Below is a link to a letter from the Stake Presidency regarding Trek clothing.</p>
            <div class="text-center">
              <a target="_blank" href="https://s3-us-west-2.amazonaws.com/castlerocktrek/CastleRockStakePresidency_TrekClothingLetter.pdf" class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

}